http:// {
    # Serve static files from the mapped volume
    route /static/* {
        root * /app
        file_server
    }

    # Serve media files from the mapped volume
    route /media/* {
        root * /app
        file_server
    }

    # Proxy all other requests to the Django app
    reverse_proxy / server:8000
}