http:// {
    # Route requests for static files
    route /static/* {
        root * /app
        file_server
    }

    # Route requests for media files
    route /media/* {
        root * /app
        file_server
    }

    # Proxy all other requests to the Django app
    reverse_proxy / server:8000
}