name: Build
on:
    push:
        branches:
          - main
          - stable

permissions:
    contents: read
    packages: write

jobs:
    development-build:
        name: Development Build
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Git Repo
          uses: actions/checkout@v2
        - name: Docker Login

          env:
            DOCKER_USER: ${{ secrets.DOCKER_USER }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          run: |
            docker login ghcr.io -u $DOCKER_USER -p $DOCKER_PASSWORD

        - name: Development Build Script
          run: |
            docker build -f ./server/Dockerfile-dev . -t soundly:dev
            docker tag soundly:dev ghcr.io/mubarak117136/soundly:dev
            docker push ghcr.io/mubarak117136/soundly:dev
    production-build:
        name: Production Build
        if: github.ref == 'refs/heads/stable'
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Git Repo
          uses: actions/checkout@v2
        - name: Docker Login

          env:
            DOCKER_USER: ${{ secrets.DOCKER_USER }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          run: |
            docker login ghcr.io -u $DOCKER_USER -p $DOCKER_PASSWORD

        - name: Production Build Script
          run: |
            docker build -f ./server/Dockerfile-prod . -t soundly:prod
            docker tag soundly:prod ghcr.io/mubarak117136/soundly:prod
            docker push ghcr.io/mubarak117136/soundly:prod
    production-deploy:
        name: Production Deploy
        needs: production-build
        if: github.ref == 'refs/heads/stable'
        runs-on: ubuntu-latest
        steps:
        - name: Server SSH Access
          uses: appleboy/ssh-action@v0.1.7
          with:
              host: ${{ secrets.SERVER_IP }}
              username: ${{ secrets.SERVER_USERNAME }}
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              script: |
                cd /www/soundly/
                docker compose pull
                docker compose down
                docker compose up -d
                docker compose exec -T server python ./manage.py migrate
                docker compose exec -T server python ./manage.py collectstatic --noinput
                docker image prune -f
